.img-berita{
	margin-left: 20%;
}
.div-berita{
	padding-bottom: 40px;
}
#credit{
	text-align: center;
}
#judul{
	text-align: center;
	font-size: 26px;
}
#header-dark{
	background-color: black;
	color: white;
}
#header-light{
	background-color: white;
	color: black;
}
.DarkStyle{
	background-color: black;
	color: white;
}
.LightStyle{
	background-color: white;
	color: black;
}
.DarkText{
	color: white;
}
.LightText{
	color:black;
}
.konten-berita{
	text-shadow: 0px 0px black;
}
/* unvisited link */
a:link {
	color: gray;
	text-shadow: 0px 0px black;
}
/* visited link */
a:visited {
	color: gray;
	text-shadow: 0px 0px black;
}
/* mouse over link */
a:hover {
	color: gray;
	text-shadow: 0px 0px black;
}
/* selected link */
a:active {
	color: gray;
	text-shadow: 0px 0px black;
}